{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	
<div class="bg-accueil">
    <div class="container flex">
        <img class="accueil-misa " src=" {{asset('img/accueilMisa.jpg')}} " alt="">
    </div>

    <div class="container flex bg-black div-btn-paw">
        <img class="btn-circle paw-start" src=" {{asset('img/pawStart1.png')}} " alt="">
        <span class="all-circle">
            <a class="story-book" data-bs-toggle="modal" data-bs-target="#modal-accueil"></a>
            <a href="{{path('meteo')}} " class="meteo"></a>
            <a href=" {{path('list_items')}} " class="liste-course"></a>
            <a href="" class="love"></a>
            <a href="{{path('note')}}" class="prise-note"></a>
            <a href="" class="flower3"></a>
            <a href="" class="flower2"></a>
            <a href="" class="flower1"></a>
        </span>
    </div>
</div>


<div class="modal fade" id="modal-accueil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Miaou !!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bonjour {% if app.user %}<span class="color-span"><b> {{ app.user.name }} </b></span>{% endif %}, je suis Misa le chat-rateur de l'histoire , je vais t'accompagner tout au long de cette aventure !! <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-cat-grey-name" id="btn-validate-name-grey-cat" class="btn button-modal-valid">Suivant</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cat-grey-name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Miaou !!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Tu verras je ne sais pas très bien ronronner mais je vais te raconter une histoire comme jamais personne ne t'en a raconté :3 , je vais te raconter MON histoire roooouuuuhhh-roooouuuhhh !!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                {% if app.user %}
                <a href=" {{path('story_introduction')}} " class="btn button-modal-valid">C'est parti !</a>

                {% else %}
                <P>Connecte toi pour avoir accès à l'histoire ! </P>
                {% endif %}
            </div>
        </div>
    </div>
</div>
					

{% endblock %}
