{% extends 'base.html.twig' %}

{% block title %}
	Le second plan
{% endblock %}

{% block body %}

	<div class="bg-black">
		<div class="container-fluid">
			<h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">
				Le second plan de Misa:</h2>
			<div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
				<div
					class="carousel-indicators"><!-- bouton généré en javascript par rapport au nombre de carousel-item -->
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text">
										[Quelques jours plus tard…]
										<br><br>
										<strong class="name-cat">Misa :</strong>Bon les gars depuis quelques jours j’analyse le terrain et je ne vois que 2 options pour se barrer d’ici !
										<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/2.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Je vais vous expliquer en faisant un plan histoire de bien visualiser nos possibilités
										<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/3.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Un immense mur entoure le domaine, la seule sortie et la seule entrée se trouve être la grande grille que l’on a trouvé au début, donc c’est sûr, cette porte doit être énormément bien garder pour pas que leurs chers petits casse-croutes ne s’échappent …<br><br>
										<strong class="name-cat">Yuki :</strong>
										Hey c’est de nous et de nos amis que tu parles la !<br><br>
										<strong class="name-cat">Misa :</strong>
										Ouai ouai mais bon c’est la triste vérité non ? Bref, par contre ce que l’on sait, c’est qu’il y a des arbres qui longe ce mur puisque que nous l’avons longé le premier jour jusqu’à revenir au point de départ, pour moi il faut trouver l’arbre le plus grand et le plus près du mur et voir si cet arbre est exploitable pour franchir le mur vous ne trouvez pas ?<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/4.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Du coup vous en pensez quoi ? Grille ? ou foret ?<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Je dirais foret non ? si on y arrive on limite les chances de rencontrer des gardes je pense.<br><br>
										<strong class="name-cat">Misa :</strong>
										Je pense pareil ;)<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Et bien Misa. Tu es balaise en ce qui concerne la fuite je dois bien l’avouer, tu trouves toujours des plans de fou !<br><br>
										<strong class="name-cat">Misa :</strong>
										Mikie ne m’appelle pas Misa de l’Escapade pour rien héhé ! Allons voir les arbres les plus hauts que l’on pourrait trouver !<br><br>
										<strong class="name-cat">Yuki :</strong>
										Hey cet arbre a l’air vraiment pas mal non ?<br><br>
										<strong class="name-cat">Misa :</strong>
										Oui j’avoue on va aller voir ce que ça donne.<br><br>


									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/5.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										je vais voir !<br><br>

										<strong class="name-cat">Pumpkin :</strong>

										Hey attends tu pourrais te faire mal !<br><br>
										<strong class="name-cat">Yuki :</strong>
										Mais non c’est bon c’est toujours toi et Misa qui faites tout et réfléchissez à tout, je dois bien me montrer utile pour une fois !<br><br>
										<strong class="name-cat">Misa :</strong>
										ce n’est pas une compétition … Tout le monde a ses propres compétences !<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/6.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Et bah voilà …<br><br>

										<strong class="name-cat">Pumpkin :</strong>

										Yuki tu vas bien ?!<br><br>
										<strong class="name-cat">Yuki :</strong>
										Oui ça va je crois >.<<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/7.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Regarde comment on fait ;)<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/8.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Et hop !<br><br>
										<strong class="name-cat">Yuki :</strong>
										On n’est pas du même niveau T_T<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/9.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Celui-ci à l’air vraiment bien, je vois le haut du mur d’ici ! Il faudra essayer d’autres arbres mais je pense que celui-ci est déjà pas mal, il devrait faire l’affaire !<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/10.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Par contre une chose ! je veux sauver absolument tout le monde !<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/11.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Quoi… ? Mais déjà à 3 ça va être compliqué donc avec les autres plus les tout-petits ... Ça va être impossible …<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										C’est ça ou rien !<br><br>
										<strong class="name-cat">Misa :</strong>
										Mais ils ne sont pas de notre monde …<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/12.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">

										<strong class="name-cat">Pumpkin :</strong>

										Ok donc on les laisse se faire bouffer c’est ça ? Alors qu’on vient de passer un mois à jouer avec eux ?  Tu adores tellement la nourriture que tu t’en fiche si les autres en deviennent ?!<br><br>
										<strong class="name-cat">Misa :</strong>
										Soit pas ridicule …. Je réfléchis à nos meilleures options c’est tout … Et puis de base on n’était pas censé venir ici…<br><br>

										<strong class="name-cat">Pumpkin :</strong>

										Ouai, sauf que nous sommes ici, et donc on peut faire quelques choses… Qu’est ce qu’il se passera si jamais quelqu’un que l’on connait disparait et qu’en faite il a été invoqué ici pour servir de bouffe ?!<br><br>
										<strong class="name-cat">Misa :</strong>
										Oui sauf que l’existence de cette ferme nous apprends plusieurs choses : <br>
														-	Nous sommes surement dans un monde de démon …<br>
														-	Il n’y a peut-être pas d’humain libre dans ce monde ou même aucun à l’extérieur <br>									-	Au mieux, ils n’y ont plus leur place …<br>	<br>	
										<strong class="name-cat">Pumpkin :</strong>
										Et alors ?<br><br>
										<strong class="name-cat">Misa :</strong>
										Et alors avec les petits etc ça sera surement galère en dehors de ses murs…<br><br>
										<strong class="name-cat">Misa :</strong>
										Yuki dis quelques choses !<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap12/13.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										A vrai dire je pense pareil, je ne veux pas rentrer et me dire qu’on a laissé les autres se faire manger …<br><br>
										<strong class="name-cat">Misa :</strong>
										Merci du soutiens mon frère … Tu es vraiment buté Pumpkin c’est incroyable … D’accord je vais réfléchir à un plan pour sauver tout le monde mais si c’est impossible je laisse tomber !<br><br>

										<strong class="name-cat">Pumpkin :</strong>

										ça me va, du moment que tu me promets d’y réfléchis sérieusement mais crois-moi on trouvera une solution ! S’il n’y a pas de place pour nous en dehors de ses murs, on se la créera nous-même et puis voilà ! Dans tous les cas c’est sûr que l’on doit s’échapper puisqu’on ne sait pas comment retourner dans notre monde 😉<br><br>
										<strong class="name-cat">Misa :</strong>
										C’est bon, je te le promets !<br><br>

										<strong class="name-cat">Pumpkin :</strong>

										J’ai une autre question ! Est-ce qu’on met quelqu’un d’autre au courant ? Il y a deux autres enfants qui doivent être aussi grand que nous !<br><br>
										<strong class="name-cat">Misa :</strong>
										Tu parles de Donna et Rufus ? C’est vrai que de l’aide ne serait pas de refus … Par contre les plus petits on ne leur dira rien pour l’instant, moins de monde est au courant et plus on aura de chance de rester discret… Il suffira de trouver des excuses aux bons moments.<br><br>

										<strong class="name-cat">Pumpkin :</strong>

										Parfait je vais commencer par Donna, occupez-vous de Rufus ! C’est les 2 plus grands avec nous, ils seront surement utiles !<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex">
							<a href="{{path('story_nouvelle_alliee')}}" class="btn button">Une nouvelle alliée</a>
						</div>
						<div class="flex">
							<img class="misa-navbar" src="{{ asset('img/misaGif.gif') }} " alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
