{% extends 'base.html.twig' %}

{% block title %}
	Diversion
{% endblock %}

{% block body %}

	<div class="bg-black">
		<div class="container-fluid">
			<h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">
				Diversion :</h2>
			<div id="carousel-story" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
				<div
					class="carousel-indicators"><!-- bouton généré en javascript par rapport au nombre de carousel-item -->
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text">
										[Le lendemain]
										<br><br>
										<strong class="name-cat">Misa :</strong>
										Maman ?<br><br>
										<strong class="name-cat">Maman :</strong>
										Oui ?<br><br>
										<strong class="name-cat">Misa :</strong>
										Il faut que tu viennes voir un truc étrange vite !<br><br>
										<strong class="name-cat">Maman :</strong>
										Je te suis…

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/2.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										C’est par ici…<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/3.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Dépêche Yuki, on ne sait pas combien de temps nous avons !<br><br>
										<strong class="name-cat">Yuki :</strong>
										Pas de soucis, je suis juste derrière toi !<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Eh bien, on dirait que toutes ces années à te poursuivre ont finalement payé ! Tu es plus endurant !<br><br>
										<strong class="name-cat">Yuki :</strong>
										…<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/4.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Toujours aucun signe de Misa, je suppose que c’est une bonne nouvelle…<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/5.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										On est presque arrivé, encore un petit effort !<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/6.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										C’est encore loin, j’ai juste l’impression que tu me fais tourner en rond…<br><br>
										<strong class="name-cat">Misa :</strong>
										Non, c’est juste là !<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/7.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Et maintenant que dois-je voir de si étrange ?<br><br>
										<strong class="name-cat">Misa :</strong>
										(Réfléchi vite …)<br><br>
										<strong class="name-cat">Maman :</strong>
										Moi je vais te dire ce que je vois.<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/8.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Je vois un sale petit menteur qui me fait perdre mon temps exprès !<br><br>
										<strong class="name-cat">Misa :</strong>
										Quoi ?! Mais non ! Il y avait un truc ici !!<br><br>

									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/9.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Je sais tout. Je sais que vous allez vous échapper bientôt car vous avez appris la vérité.<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/10.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Vous pensiez être discret ? C’est mignon !<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/11.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Je ne sais pas de quoi tu parles, j’avoue je voulais juste te faire une farce !<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/12.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Allons allons, jouons carte sur table, tu sais ce qu’est vraiment cet endroit et je sais que vous comptez vous échapper, c’est aussi simple que ça.<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/13.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Il n’y a qu’une chose que vous ne saviez pas, chaque enfant ici possède un traceur que l’on vous met pendant une visite médicale de ‘routine’, vois-tu ? Et cela fait un moment que je regarde vos faits et gestes.<br><br>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/14.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Je n’ai plus qu’à regarder où sont Pumpkin et Yuki en ce moment même pour aller m’occuper d’eux 😊<br><br>
										<strong class="name-cat">Misa :</strong>
										Sale ******** !!!

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/15.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Non je ne te laisserais pas les rejoindre !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/16.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Et c’est toi qui vas m’en empêcher ?
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/17.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Aller, hors de vue stupide petit chat de pacotille !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/18.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Ahhhh !!
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/19.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Merde elle m’a enfermé je dois trouver un moyen ! Attends ? Elle est au courant de qui est humain et qui sont des animaux ? Bref, on s’en fou je dois sortir et vite !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/20.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Reste ici bien sagement, je te libèrerais une fois que je reviendrais.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/21.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Voyons voir où se trouve les 2 autres…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/22.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Reviens ici !!! Aller saloperie de porte !!!
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/23.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Rufus :</strong>
										Toujours rien de la part de Misa …
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/24.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Quoi ?!!!! Maman sort alors que Misa n’a donné aucune alerte ! :o
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/25.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Rufus :</strong>
										C’est la merde là, tu crois qu’on est démasqué ?
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/26.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text "></p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/27.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">

										<strong class="name-cat">Maman :</strong>
										Humm 😉
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/28.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Elle se dirige vers Yuki et Pumpkin !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/29.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Rufus :</strong>
										Je vais voir où est Misa !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/30.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Tu vas finir pas céder crois moi !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/31.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Rufus :</strong>
										Misa ? C’est toi qui es là-dedans ?<br><br>
										<strong class="name-cat">Misa :</strong>
										Oui, il faut aller prévenir Pumpkin et Yuki, Maman sait tout !<br><br>
										<strong class="name-cat">Rufus :</strong>
										D’accord mais d’abord…

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/32.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Rufus :</strong>
										Eloigne toi de la porte !<br><br>
										<strong class="name-cat">Misa :</strong>
										Hein ?!

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/33.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Rufus :</strong>
										Outchhh !!!!
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/34.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Rufus :</strong>
										Y’a urgence !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/35.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Tu crois que je ne le sais pas peut-être !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/36.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Hey attendez moi !<br><br>
										<strong class="name-cat">Misa :</strong>
										On n’a pas le temps Donna, Maman est au courant de tout !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/37.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Alors les draps qui forme une corde devraient être ici…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/38.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										J’entends du bruit par là-bas et les autres ne sont pas censé nous rejoindre !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/39.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Ok, je balance la corde !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/40.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">

										<strong class="name-cat">Pumpkin & Yuki :</strong>
										…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/41.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Voilà !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/42.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Je vous ai enfin trouvé !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/43.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										(Quoi ?! Maman ? Mais comment ?!)
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/44.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Ah Maman tu nous as trouvé ! On s’est perdu en jouant dans la forêt…<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										(Woo, bien joué Yuki !)

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/45.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Bien essayé, mais je connais vos intentions.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/46.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Quelles intentions … ?
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/47.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Parlons-nous sans faire semblant je vous prie, plus besoin de se cacher, vous savez très bien que je suis l’éleveuse et que vous, vous êtes le bétail qui sert à nourrir les démons 😉 Vous pouvez arrêter de jouer les ignorants face à moi !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/48.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Et toi alors ? En tant qu’humaine ça ne te dérange pas plus que ça ?
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/49.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Quand je pense que les seuls humains que l’on connaissait vraiment c’était nos maîtres… J’étais naïf de penser que les autres humains seraient pareils !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/50.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										ça ne change rien ! Que tu ne le saches ou pas, on va quand même partir d’ici !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/51.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Mes chers maîtres n’abandonne pas aussi facilement, je les décevrai si jamais j’abandonnais maintenant !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/52.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Rassurez-vous je ne vous tuerais pas, vous êtes bien trop précieux pour moi, je veux juste que vous soyez sage en attendant votre tour 😊 Revenez à l’orphelinat s’il vous plait 😊
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/53.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Yuki !!! Prends la corde et casse-toi en premier, je te rejoindrai avec Misa promis !<br><br>
										<strong class="name-cat">Yuki :</strong>
										Mais … ?<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										On est débrouillard ne t’en fait pas et fais ce que je te dis !<br><br>
										<strong class="name-cat">Yuki :</strong>
										Oui !<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Maintenant !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/54.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										A nous deux !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/55.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Je vais te montrer de quel bois je me chauffe !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/56.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Je t’ai eu !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/57.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Et ça tu me le donne….
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/58.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Bruit de craquement]<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										[Hurle de douleur] Ahhhhhhhhhh !!!!!!

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/59.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Pumpkin ?!!!!!!

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/60.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										[Gémit]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/61.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text "></p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/62.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										J’ai entendu Pumpkin crier non ! Aller plus vite >.<
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/63.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/64.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Je t’avais dit de te tenir tranquille, tu ne m’as pas écouté… Alors voilà ce qui arrive. Je t’ai cassé la jambe le plus net possible ne t’en fait pas ça guérira très bien, au moins tu pourras te tenir tranquille, jusqu’à ta livraison aux démons.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/65.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Oh non Pumpkin !!!
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/66.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Vous arrivez trop tard mes enfants ! Voilà ce qu’il se passe quand on me désobéit, à bon entendeur. Vous pouvez vivre et profiter pleinement de notre foyer, vous pouvez vous amuser, vous chamailler, tout ce que vous voulez, jusqu’à votre date de livraison bien-sûr. Mon rôle est de vous maintenir en bonne santé jusqu’à ce que ce jour arrive.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/67.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Misa fait quelques je t’en supplie !<br><br>
										<strong class="name-cat">Misa :</strong>
										C’est mort, y’a rien à faire, quoi qu’on fasse, Pumpkin ne pourra pas s’échapper avec sa jambe cassée… Bordel !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap15/68.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>(Et merde… Je me suis mal débrouillé et je douille en plus … >.)
									</p>
								</div</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/69.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Maman :</strong>
									D’ailleurs, pour la prochaine livraison, je devais envoyer un autre enfant… mais vu les événements, histoire de vous punir…
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/70.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Maman :</strong>
									Ca sera toi yuki qui sera livré 😊
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/71.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Pumpkin :</strong>
									Non pas ça…
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/72.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Misa :</strong>
									Mon frère…
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/73.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Yuki :</strong>
									M-moi ?
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/74.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Maman :</strong>
									En attendant, je vous conseille de vous tenir à carreau, sinon vous verrez que je suis capable d’encore pire 😊
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/75.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Misa :</strong>
									(Hors de question, y’a pas moyen que mon frère finisse comme ça).
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/76.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Maman :</strong>
									Toi et tes petits copains aurez mieux fait de m’écouter, après tout je ne fais que mon travail, hormis la fin, je vous apprécie tous et je fais en sorte que vous ayez une bonne vie remplie de bons souvenirs.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/77.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										Enfants :</strong>
									Han pumpkin va bien ?
									<br><br>
									<strong class="name-cat">
										Maman :</strong>
									Oui c’est juste une mauvaise chute, il faudra laisser pumpkin se reposer d’accord les enfants ?
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex wrap">
						<div class="col-11 col-md-8 col-lg-5 flex">
							<img src="{{ asset('img/chap15/78.png') }} " class="img" alt="...">
						</div>
						<div class="col-11 col-md-8 col-lg-5 flex">
							<div class="card-body">
								<p class="card-text ">
									<strong class="name-cat">
										maman :</strong>
									N'est-ce pas pumpkin ? 😊
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="flex">
						<a href="{{path('story_sauvetage_yuki')}}" class="btn button">
							Il faut sauver yuki !</a>
					</div>
					<div class="flex">
						<img class="misa-navbar" src="{{ asset('img/misaGif.gif') }} " alt="">></div>
				</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
