{% extends 'base.html.twig' %}

{% block title %}
	Les révélations de Yuki
{% endblock %}

{% block body %}

	<div class="bg-black">
		<div class="container-fluid">
			<h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">
				Les révélations de
				<strong class="name-cat">Yuki :</strong>
			</h2>
			<div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
				<div
					class="carousel-indicators"><!-- bouton généré en javascript par rapport au nombre de carousel-item -->
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text">
										<strong class="name-cat">Yuki :</strong>
										Quand j’étais sur le mur, j’en ai profité pour faire le tour de celui-ci. Voici ce que j’ai découvert…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/2.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Nous ne sommes pas les seuls, nous sommes dans un hexagone, séparé en 6 parties avec chacune leur ferme. Mais ça ne change rien, les seules sorties exploitables sont la grille surement hautement gardée ou trouver un moyen de passer au-dessus du ravin…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/3.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Quoi qu’il en soit, j’ai tout donné croyez-moi…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/4.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Je vous dis adieux...
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/5.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Sauvez-vous par tous les moyens et sauvez tout le monde avec vous <3
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/6.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Je refuse de te laisser partir Yuki !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/7.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										(On a plus le temps de le sauver cette fois…) Yuki …..
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/8.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Yuki ! C’est l’heure !
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/9.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										J’arrive !
										<strong class="name-cat">Yuki :</strong>
										Je ne regrette rien les gars, ne m’oubliez pas, c’est tout ce que je vous demandes, Je vous aimes tous les deux...

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/10.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										C’est bon tu es prêt ?<br><br>
										<strong class="name-cat">Yuki :</strong>
										Oui …

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/11.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Au revoir tout le monde ! Prenez soin de vous, vous allez me manquer !<br><br>
										<strong class="name-cat">Enfant :</strong>
										Tu vas nous manquer aussi Yuki ! Profite bien là où tu vas !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/12.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										........

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/13.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										y’a pas moyen !!!!!!

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/14.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text "></p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/15.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text "></p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/16.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Quoi ?!

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/17.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Je ne peux pas accepter ça !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/18.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Enfuis-toi vite pendant que je fais diversion !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/19.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text "></p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/20.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Je n’ai plus le choix Pumpkin, sinon tu vas te faire tuer pour rien… Grâce à moi vous gagnerez un mois supplémentaire, vous en aurez bien assez…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/21.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Pas pour rien ! Pour te sauver ! Tu te rends compte de ce que tu dis ?!
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/22.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Aller Yuki, il est temps.<br><br>
										<strong class="name-cat">Yuki :</strong>
										Adieu Pumpkin, rappelle à Misa que je l’ai toujours aimé comme frère, il doit rester fort pour vous tous…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/23.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										yuki !!!

									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/24.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Je te conseil de te calmer car tu vas aussi y passer si tu continus.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/25.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Prends soin de tout le monde, j’aurais voulu dire aurevoir à nos maîtres mais ce n’est pas possible, je te confis cette tâche.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/26.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/27.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/28.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										[S’écroule au sol].<br><br>
										Donna [En pleure] : Courage Pumpkin courage…
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/29.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										…<br><br>
										<strong class="name-cat">Yuki :</strong>
										Maman ?<br><br>
										<strong class="name-cat">Maman :</strong>
										Oui ?<br><br>
										<strong class="name-cat">Yuki :</strong>
										Misa et Pumpkin seront tranquille jusqu’à leur livraison ?<br><br>
										<strong class="name-cat">Maman :</strong>
										Oui je te le promets, c’est ce que nous avons convenu après tout.<br><br>
										<strong class="name-cat">Yuki :</strong>
										Très bien…<br><br>
										<strong class="name-cat">Maman :</strong>
										Tu regrettes ?<br><br>
										<strong class="name-cat">Yuki :</strong>
										Pas vraiment, c’est mieux ainsi, ils sont plus forts que moi, je n’aurais pas supporté que les rôles soient inversés…<br><br>
										<strong class="name-cat">Maman :</strong>
										Je vois…


									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/30.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Maman :</strong>
										Attends-moi ici, je reviens.

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap17/31.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Adieu Misa, Adieu Pumpkin, je vous ai aimé sincèrement au plus profond de moi, j’espère que vous pourrez vous enfuir ou rentrer chez nous, c’était ma dernière aventure…
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex">
							<a href="{{path('story_desespoir_et_espoir')}}" class="btn button">Désespoir et espoir</a>
						</div>
						<div class="flex">
							<img class="misa-navbar" src="{{ asset('img/misaGif.gif') }} " alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
