{% extends 'base.html.twig' %}

{% block title %}
	Vers le portail
{% endblock %}

{% block body %}

	<div class="bg-black">
		<div class="container-fluid">
			<h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">
				Vers le portail :</h2>
			<div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
				<div
					class="carousel-indicators"><!-- bouton généré en javascript par rapport au nombre de carousel-item -->
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text">
										[A partir d’ici – On a pu survivre par nos propres moyens, on savait se débrouiller par nous-même, se faire à manger et comment trouvait de la nourriture, on était même tellement à l’aise que pendant nos expéditions nous avions trouvé le même genre de masques qu’ont les démons]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/2.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[On s’est donc faufiler dans les villes des démons, déguisé pour leur ressembler afin de chaparder des vivres en plus si jamais nous en manquions]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/3.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[C’était à la fois stressant et satisfaisant]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/4.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Mais ça valait le coup quand on voyait les petits se nourrir à leur faim]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/5.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Cette méthode nous a fortement aider pour survivre, surtout quand on traversait des zones où les ressources naturelles n’étaient pas au rendez-vous]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/6.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Et puis il faut dire que le rôle de démon allait à ravir à Pumpkin, surtout depuis qu’il s’était rapproché de Mujika]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/7.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Durant notre trajet, on a dû faire face à pas mal de soucis, comme ce genre monstre affreux]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/8.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Mais bon on s’y est fait, c’était devenu notre quotidien]
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap25/9.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Je pense qu’on a tous gagné en endurance durant ce périple]
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex">
							<a href="{{path('story_surprise')}}" class="btn button">Surprise !</a>
						</div>
						<div class="flex">
							<img class="misa-navbar" src="{{ asset('img/misaGif.gif') }} " alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
