{% extends 'base.html.twig' %}

{% block title %}
	Enfin libre
{% endblock %}

{% block body %}

	<div class="bg-black">
		<div class="container-fluid">
			<h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">
				Enfin libre :</h2>
			<div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
				<div
					class="carousel-indicators"><!-- bouton généré en javascript par rapport au nombre de carousel-item -->
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text">
										<strong class="name-cat">Misa :</strong>
										Le cadran change de la salle change !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/2.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Misa :</strong>
										Et bascule vers la lumière ça doit être ça ! 
										<br><br>
										[Misa – En dessous de nous, un ascenseur s’activa nous faisant descendre encore et encore]

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/3.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Parfait ! Mes chers maîtres nous arrivons !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/4.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Misa – Jusqu’à ce que l’on se retrouve avec devant une porte]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/5.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Misa – Quand on l’ouvrit, le portail nous fît face]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/6.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Misa – Il était magnifique]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/7.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Nous y voici ! On a réussi les amis !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/8.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Yuki à toi l’honneur après tout tu es le premier à avoir réussi 😊
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/9.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Moi ? Tu es sûr ?<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Oui vas-y !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/10.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Yuki :</strong>
										Très bien, j’y vais alors !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/11.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										[Le portail s’ouvre]
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/12.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Enfinnnnnn !!! Enfin on va rentrer chez nous ! Plus de démons, plus de survie, juste passer mes journées à me la couler douce dans mon aquarium !<br><br>
										<strong class="name-cat">Rufus :</strong>
										Hein ?! Dans ton aquarium ?<br><br>
										<strong class="name-cat">Donna :</strong>
										Non rien t’inquiète !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/13.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Aller les amis, retrouvez tous votre liberté ! <br><br>
										[Misa – Après des adieux déchirants avec certaines personne, tout le monde passait le portail un part un, jusqu’à ce qu’il n’y ai plus que nous]

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/14.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										A toi Donna, je suis vraiment content d’avoir pu partager tous ces moments avec toi !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/15.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										C’est sûr que la communication ne sera plus pareille, mais on trouvera toujours le moyen de se faire un petit coucou !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/16.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Oui 😊 N’oublie notre code !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/17.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Ne t’en fais pas pour ça.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/18.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										On se retrouve de l’autre côté vous 3 !
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap28/19.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Donna :</strong>
										Et un dernier petit mot ! Si Misa à encore un sort débile à jeter par pitié ne le suivait pas dans son délire ! Ou alors faites en sortes que je ne sois pas mêlée à vos idioties !<br><br>

										<strong class="name-cat">Misa :</strong>
										Promis petite tortue, on te laissera tranquille dans ta carapace !<br><br>
										<strong class="name-cat">Donna :</strong>
										On a une superbe famille Misa, alors arrête de vouloir t’échapper pour partir à l’aventure ! J’espère que cette aventure t’aura servi de leçon !<br><br>
										<strong class="name-cat">Misa :</strong>
										Oui oui… J’essaierai de devenir un bon petit chat de salon.<br><br>
										<strong class="name-cat">Donna :</strong>
										Bien ! Alors à tout à l’heure de l’autre côté ! <br><br>
										[Misa – Après ça, nous sommes nous aussi passé dans le portail, pour Yuki et moi il ne sait rien passé en particulier, par contre pour Pumpkin d’après lui il s’est passé ce qui va suivre : ]

									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex">
							<a href="{{path('story_entrevue_celeste')}}" class="btn button">Entrevue céleste</a>
						</div>
						<div class="flex">
							<img class="misa-navbar" src="{{ asset('img/misaGif.gif') }} " alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
