{% extends 'base.html.twig' %}

{% block title %}
	Entrevue céleste
{% endblock %}

{% block body %}

	<div class="bg-black">
		<div class="container-fluid">
			<h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">
				Entrevue céleste :</h2>
			<div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
				<div
					class="carousel-indicators"><!-- bouton généré en javascript par rapport au nombre de carousel-item -->
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text">
										<strong class="name-cat">Pumpkin :</strong>
										Quu’quoi ?! où sont les autres et qui êtes-vous ?<br><br>
										<strong class="name-cat">Inconnu :</strong>
										Tu ne le devines pas ?<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										O_o Vous êtes… le Roi des chats ?<br><br>
										<strong class="name-cat">Roi des chats :</strong>
										Plutôt le dieu des chats !<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Oups désolé, c’est à cause de mon maître !<br><br>
										<strong class="name-cat">Roi des chats :</strong>
										Ce n’est pas grave.<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Où sont les autres ?<br><br>
										<strong class="name-cat">Roi des chats :</strong>
										Ils sont tous rentrés chez eux, je t’ai fais venir à moi pour une raison bien particulière avant de te ramener auprès des tiens.<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Pour une raison particulière ?<br><br>
										<strong class="name-cat">Roi des chats :</strong>
										Oui, je t’ai observé durant tout ton périple, j’étais endormi dans un profond sommeil, mais la magie dont vous vous êtes servi pour venir ici m’a réveillé…<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Euuh désolé ?<br><br>
										<strong class="name-cat">Roi des chats :</strong>
										Ne t’excuse pas. Au final je suis heureux d’avoir vu ce que j’ai pu voir en suivant tout ton aventure avec Misa et Yuki.<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Vous avez vraiment tout vu ?<br><br>
										<strong class="name-cat">Roi des chats :</strong>
										Oui. J’aimerais que tu m’expliques comment en es-tu arrivé là ?<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Bah par la magie de Misa.<br><br>
										<strong class="name-cat">Roi des chats :</strong>
										Ce n’est pas ce que j’ai voulu dire, je voulais parler de ta personnalité, tu as accompli ce que nul chats avaient accompli durant des centaines et des centaines années. J’aimerais donc que tu m’expliques un peu ton parcours dans ton monde.

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Et bien, je suis né le 1er Mai 2017, après quelques mois, je suis arrivais dans une famille des plus ordinaire, enfin ça c’est ce que je pensais, il y avait mes maîtres Michaël et Chloé, Misa et Yuki qui m’ont accueilli comme le nouveau petit chat et Donna, une petite tortue qui a bien grandi elle aussi depuis.
										<br><br>
										J’ai grandi dans une famille extraordinaire, le genre de famille où l’on ne s’ennuie jamais, mes maîtres étaient tout simplement parfait, je suis devenu en un rien de temps le centre d’attention numéro un de la famille ! Faut dire que mes maîtres ont bien commencé, ils m’ont choisi car apparemment je suis né le jour même où ils se sont mis ensemble ! Chloé m’appelait même le chat de l’amour !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Roi des chats :</strong>
										Chat de l’amour ? Intéressant tout ça, tu peux m’en dire plus ?<br><br>

										<strong class="name-cat">Pumpkin :</strong>
										J’ai donc dès mon arrivé baigné dans l’amour, des caresses, des câlins, des mots doux, j’étais vraiment le plus heureux des chats ! Mais ce n’étais pas qu’en vers moi, j’ai direct été très proche de Michaël, faut dire que nos personnalités se ressemble beaucoup, joueur, taquin, très énergique et j’en passe, j’ai donc passé beaucoup de temps avec lui pendant que Misa essayait de garder l’attention de sa maîtresse héhé. Et c’est comme ça que j’ai pu voir tout l’amour que mon maître avait pour ma maîtresse ça fait plus de quatre ans maintenant qu’ils sont ensemble et du plus loin que je me souvienne, je ne les ai jamais vu malheureux ensemble, il fait tout pour qu’elle se sente bien, il est toujours collé à elle lui faisant une multitude de câlins et de bisous, il passe aussi son temps à l’embêter, à attirer son attention, il fait tout pour la guider et la soutenir aussi, il prend même sur lui pour s’améliorer afin de l’aider !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Roi des chats :</strong>
										Ah bon ? C’est-à-dire ?
										<br><br>
										<strong class="name-cat">Pumpkin :</strong>
										Généralement il fait en sorte que quand Chloé rentre, qu’elle n’est pas grand-chose à faire pour qu’elle puisse avoir du temps pour elle, il a même commencé à se mettre à la cuisine ! Et ça croyait moi, ce n’est pas du tout son fort avant, il a même fait un gâteau ! un gâteauuu !! Vous imaginez même pas ce que ça représente, le pire c'est qu'il était super bon apparemment . Il est plutôt à construire des choses pour nous tous, que ce soit une énorme maison à chat ou encore un jardin pour Chloé. Franchement ça se voit qu’il aime profondément ma maîtresse et il tient à elle plus que tout.


									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Roi des chats :</strong>
										Et tu penses que cela t’a affecté ? Positivement bien-sûr.<br><br>

										<strong class="name-cat">Pumpkin :</strong>
										C’est sûr, mon maître est devenu mon modèle, je me réfère beaucoup à lui et c’est pour ça que je veux toujours m’améliorer et prendre soin de ceux qui m’entoure, même s’il ne le saura jamais, je veux être sûr que s’il savait tout ce que j’ai pu accomplir, qu’il soit fier de moi. Et ça, c’est ce qui me pousse dans la vie.

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Roi des chats :</strong>
										Et bien Pumpkin, comme le dit ta maîtresse, tu es bien le chat de l’amour, je suis du même avis qu’elle là-dessus. Par conséquent, je vais t’accorder deux choses importantes. 
																	<br><br>													
										La première, même si j’entends bien que l’amour règne dans ta famille, je vais la consolider afin de faire de vous une véritable famille, quand tu rentreras chez toi, tu verras un petit cadeau que tu devras donner à tes maîtres. 
																	<br><br>													
										Et la deuxième, il est temps pour moi enfin de me retirer… Au vu de tes actions et ce test, tu as joué un très grand rôle dans cette histoire, et je pense que les autres chats du monde entier devraient prendre exemple sur toi, c’est pourquoi, je te nomme Roi des chats à ton tour !


									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Pumpkin :</strong>
										Quoiiiiiiiiiiiiii ?<br><br>

										<strong class="name-cat">Roi des chats :</strong>
										Tu m’as très bien entendu, les chats ont besoin de suivre quelqu’un d’autre, une vision plus jeune de notre espèce, tes nouveaux pouvoirs te permettront d’aller répandre l’espoir et l’amour à travers notre espèce, et aussi d’aller où bon te semble, même le monde des démons pour retrouver une certaine personne si tu vois ce que je veux dire.<br><br>

										<strong class="name-cat">Pumpkin :</strong>
										Rahhh arrêtez de me faire rougir !!! Vous êtes sûr de vous ?<br><br>

										<strong class="name-cat">Roi des chats :</strong>
										Tout à fait, je te guiderais, ne t’en fais pas, tu ne seras pas seul, après tout je reste le Dieu des chats.<br><br>

										<strong class="name-cat">Pumpkin :</strong>
										Je ne vous décevrai pas !

									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="flex wrap">
							<div class="col-11 col-md-8 col-lg-5 flex">
								<img src="{{ asset('img/chap29/1.png') }} " class="img" alt="...">
							</div>
							<div class="col-11 col-md-8 col-lg-5 flex">
								<div class="card-body">
									<p class="card-text ">
										<strong class="name-cat">Roi des chats :</strong>
										Je sais. A présent je te laisse rejoindre tes deux fidèle compagnon de route.<br><br>

										<strong class="name-cat">Pumpkin :</strong>
										Merci, dieu des chats, à bientôt !

									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="carousel-item">
						<div class="flex">
							<a href="{{path('story_enfin_rentre')}}" class="btn button">Enfin rentré !</a>
						</div>
						<div class="flex">
							<img class="misa-navbar" src="{{ asset('img/misaGif.gif') }} " alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
