{% extends 'base.html.twig' %}

{% block title %}
    Le plan de Misa !
{% endblock %}

{% block body %}
    <div class="bg-black">
    <div class="container-fluid">
        <h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">~ Le plan de Misa ~</h2>

        <!-- page 1 -->
        <div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
                <!-- bouton généré en javascript par rapport au nombre de carousel-item -->
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="{{asset('img/chap2/misaCover.jpg')}} " class="cover-misa" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Misa</strong> : Les amis, les amis !!!!! Je viens de trouver le plan du siècle pour partir à l’aventure !! <br> <br>
                                    <strong class="name-cat">Pumpkin</strong> : Qu’est-ce que tu racontes encore toi ? <br> <br>
                                    <strong class="name-cat">Misa</strong> : Vous vous souvenez que Michael et Chloé avaient plein de livres ? Et bien depuis que Michaël a refait toute la terrasse pour me mettre au défi, j’y travaille justement, j’ai lu énormément d’encyclopédie, je suis même aller sur internet quand ils dormaient et j’ai découvert qu’au-delà des bâtiments qu’on voit sur la terrasse le monde est infiniment vaste avec des animaux qui pèsent beaucoup plus lourd que moi et énormément plus grand que nos maitres.
                                </p>
                                <img src=" {{asset('img/chap2/misa-pc.png')}} " class="textrounded float-start col-5 col-md-5 col-lg-3" alt="...">
                                <img src=" {{asset('img/chap2/misa-book.png')}} " class="rounded float-end col-5 col-md-5 col-lg-3" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src=" {{asset('img/chap2/yuki-cry.jpg')}} " class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Yuki</strong> : Han non Misa je refuse !!! La dernière fois que je t’ai suivi dans une de tes aventures débiles nous n’avons pas était plus loin que les cours en face de la terrasse !!! Michaël a du venir nous secourir , Chloé n'a jamais été aussi inquiète et on s'est fait punir comme jamais !!! <br> <br>
                                    <strong class="name-cat">Misa</strong> : Si tu avais su marcher sur un muret on aurait pu aller plus loin … <br> <br>
                                    <strong class="name-cat">Yuki</strong> : Pumpkin ne l’écoute pas, c’est vraiment une mauvaise idée je t’assure , je le connais depuis toujours et il ne provoque que des catastrophes T_T <br> <br>
                                    <strong class="name-cat">Pumpkin</strong> : Ecoutons d’abord son plan, on ne perd rien à écouter ce qu’il a dire et on verra ensuite si il tient la route ou alors si il est foireux comme d’habitude, de toute manière si on ne l'écoute pas il va être horrible à vivre tu le sais très bien ça aussi ... Donc vas-y Misa qu'est ce que tu vas encore inventer comme plan débile ?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src=" {{asset('img/chap2/misaVspumpkin.png')}} " class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Misa</strong> : Pumpkin laisse-moi te convaincre, je serais le plus convaincant possible et tu ne pourras pas refuser l’aventure la plus fabuleuse de toute ta vie !!! <br><br>
                                    <strong class="name-cat">Pumpkin</strong> : L'aventure la plus fabuleuse de toute ma vie tu dis ?! Vas-y je t'écoute mais crois moi tu as intéret à bien exposé ton plan !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src=" {{asset('img/chap2/misa-witch.jpg')}} " class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Misa</strong> : Voici comment tout cela va se passer et je vais aussi vous en dire plus sur mes découvertes et comment nous allons y arriver
                                    Tout d’abord laissez-moi vous dire que nous allons utiliser …. LA MAGIE
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src=" {{asset('img/chap2/pumpkin-serious.jpg')}} " class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Pumpkin</strong> : Je vais te défoncer .... Ne te fiches pas te moi Misa è_é <br> <br>
                                    <strong class="name-cat">Misa</strong> : Attends attends !!! Laisse-moi t’expliquer et puis même si tu ne me crois pas, et si ça ne marche pas, ça peut toujours être drôle à essayer non ? <br> <br>
                                    <strong class="name-cat">Pumpkin</strong> : Humm intelligent de ta part d’appuyer sur l’amusement comme je ne pense qu’à ça, très bien je ne crois pas vraiment à ton plan mais je vais jouer le jeu juste pour m'amuser ! Bon il te faut quoi pour ton plan ? Qui dit magie dit ingrédients je suppose non ? <br> <br>
                                    <strong class="name-cat">Misa</strong> : Merci de poser la question Pumpkin, je vais vous donner les détails de ce qu'il me faut !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex">
                        <a href=" {{path('story_ingredients')}} " class="btn button">~~~~ La récolte des ingrédients par Yuki ! ~~~~</a>
                    </div>
                    <div class="flex"> <img class="misa-navbar" src=" {{asset('img/misaGif.gif')}} " alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}