{% extends 'base.html.twig' %}

{% block title %}Prise de note
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/note.css')}} ">
{% endblock %}

{% block body %}

	<div class="container flex">
		<div class="create-category-note">
        <h1>Edition de la note : {{note.title}}</h1>
			{{ form_start(NoteFormType) }}
			{{ form_widget(NoteFormType) }}
			<div class="col-12 col-md-12 col-lg-12 flex">
				<button class="btn btn-create-note">Editer</button>
			</div>
			{{ form_end(NoteFormType) }}
		</div>
	</div>


{% endblock %}


{% block javascript %}{% endblock %}
