{% extends 'base.html.twig' %}

{% block title %}Liste de course
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/listItems.css')}} ">
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}

		<div class="bg-black">
			<div class="container-fluid ">
				<div class="d-flex justify-content-center ">
					<div class="the-list col-12 col-md-12 col-lg-6">
						<div class="d-flex justify-content-center banner-list">
							<img class="misa-list" src=" {{asset('img/list/cat-banner.png')}} ">
						</div>
						<table class="table ">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nom</th>
									<th class="the-list-td" scope="col">Quantité</th>
									<th class="the-list-td" scope="col">Supprimer</th>
								</tr>
							</thead>
							<tbody>

								{% for key, item in items %}
									<tr>
										<th scope="row">{{key + 1}}</th>
										<td>
											{{item.name}}
										</td>
										<td class="the-list-td">
											{{item.quantity}}
										</td>
										<td class="the-list-td">
											<a href="{{ path('list_remove_item', {'id': item.id}) }}">
												<img class="pumpkin-list" src=" {{asset('img/list/pumpkin-list.png')}} ">
											</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
						{{ form_start(itemForm) }}
						<div class="d-flex justify-content-around align-items-center div-input">
							<div class="d-flex justify-content-center align-items-center div-input">
								{{ form_row(itemForm.name, {'attr': {'class': 'input-list', 'placeholder': 'Nom'}}) }}
							</div>
							<div class="d-flex justify-content-center align-items-center div-input">
								{{ form_row(itemForm.quantity, {'attr': {'class': 'input-list', 'placeholder': 'Quantité'}}) }}
							</div>
						</div>
						<div class="d-flex justify-content-center mt-2">
							<button type="submit" class="btn  button-list">Ajouter !</button>
							<a  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn button-list">Vider</a>
						</div>
						
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Confirmer la suppression de la liste</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
									<a href=" {{ path('list_empty') }} " class="btn button-list">Vider</a>
								</div>
								</div>
							</div>
						</div>
						{{ form_end(itemForm) }}
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="bg-black">
			<div class="container-fluid ">
				<div class="d-flex justify-content-center ">
					<div class="the-list col-12 col-md-12 col-lg-6">
						<div class="d-flex justify-content-center banner-list">
							<img class="misa-list" src=" {{asset('img/list/cat-banner.png')}} ">
						</div>
						<table class="table ">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nom</th>
									<th class="the-list-td" scope="col">Quantité</th>
									<th class="the-list-td" scope="col">Supprimer</th>
								</tr>
							</thead>
							<tbody>

								{% for i in 0..8 %}
									<tr>
										<th scope="row">{{i + 1}}</th>
										<td>
											Article n°{{i + 1}}
										</td>
										<td class="the-list-td">
											{{i + 1}}
										</td>
										<td class="the-list-td">
											<a href="">
												<img class="pumpkin-list" src=" {{asset('img/list/pumpkin-list.png')}} ">
											</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
						<div class="d-flex justify-content-around align-items-center div-input">
							<div class="d-flex justify-content-center align-items-center div-input">
								<input type="text" class="input-list" placeholder="Nom">
							</div>
							<div class="d-flex justify-content-center align-items-center div-input">
								<input type="text" class="input-list" placeholder="Quantité">
							</div>
						</div>
						<div class="d-flex justify-content-center mt-2">
							<button type="submit" class="btn  button-list">Ajouter !</button>
							<a href="" class="btn button-list">Vider</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('js/list.js')}} "></script>
	<script>$('#list_items_form_quantity').val(1);</script>
{% endblock %}
