<nav class="navbar navbar-expand-lg">
	<div class="container-fluid container">
		<a class="navbar-brand flex" href="{{path('home')}} ">
			<h1 class="title-nav-bar">Le trésor de l'escapade</h1>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="flex">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<ul class="navbar-nav me-2 mb-2 mb-lg-0 ">
							<li class="nav-item dropdown flex">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Chat-Pitre
								</a>
								<ul class="dropdown-menu dropdown-menu-chapitre" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href=" {{path('story_introduction')}} ">Chapitre 1 : Introduction</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_plan_misa')}} ">Chapitre 2 : Le plan de Misa</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_ingredients')}} ">Chapitre 3 : La récolte des ingrédients(PARTIE Yuki)</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_ingredients_2')}} ">Chapitre 4 : La récolte des ingrédients(PARTIE Pumpkin)</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_rassemblement')}} ">Chapitre 5 : Le rassemblement des ingrédients</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_transformation')}} ">Chapitre 6 : La transformation</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_nouveau_corps')}} ">Chapitre 7 : Un nouveau corps</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_tresor_escapade')}} ">Chapitre 999 : Le trésor de l'escapade</a>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li>
										<a class="dropdown-item" href="#">Bonus</a>
									</li>
								</ul>
							</li>
						</ul>
					{% endif %}
				{% endif %}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
					<li class="nav-item dropdown flex">
						{% if app.user %}
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{ app.user.name }}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								{# <li class="flex">
									<a class="btn-connect" href="">Button</a>
								</li>
								<hr> #}
								<li class="flex">
									<a class="btn-connect" href=" {{ path('app_logout') }} ">Déconnexion</a>
								</li>
							</ul>
						{% else %}
							<a class="btn-connect me-2" href=" {{ path('app_login')}} ">Se connecter</a>
							<a class="btn-connect me-2" href=" {{ path('app_register')}} ">S'inscrire</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
