<nav class="navbar navbar-expand-lg">
	<div class="container-fluid container">
		<a class="navbar-brand flex" href="{{path('home')}} ">
			<h1 class="title-nav-bar">Le trésor de l'escapade</h1>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#all-button-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>


		<div class="collapse navbar-collapse collapse-horizontal" id="all-button-navbar">
			<div class="flex">
						<ul class="navbar-nav me-2 mb-2 mb-lg-0  flex wrap">
							<li class="nav-item dropdown ">
								<a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Chat-Pitre</a>
								<ul class="dropdown-menu dropdown-menu-chapitre" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href=" {{path('story_introduction')}} ">Chapitre 1 : Introduction</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_plan_misa')}} ">Chapitre 2 : Le plan de Misa</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_ingredients')}} ">Chapitre 3 : La récolte des ingrédients(PARTIE Yuki)</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_ingredients_2')}} ">Chapitre 4 : La récolte des ingrédients(PARTIE Pumpkin)</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_rassemblement')}} ">Chapitre 5 : Le rassemblement des ingrédients</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_transformation')}} ">Chapitre 6 : La transformation</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_nouveau_corps')}} ">Chapitre 7 : Un nouveau corps</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_nouveau_monde')}} ">Chapitre 8 : Un nouveau monde</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_orphelina')}} ">Chapitre 9 : L'orphelina</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_vie_quotidienne')}} ">Chapitre 10 : Vie quotidienne</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_verite')}} ">Chapitre 11 : La vérité</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_plan_deux_misa')}} ">Chapitre 12 : Le second plan de Misa</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_nouvelle_alliee')}} ">Chapitre 13 : Une nouvelle alliée</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_perfection_plan')}} ">Chapitre 14 : Perfection du plan</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_diversion')}} ">Chapitre 15 : Diversion</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_sauvetage_yuki')}} ">Chapitre 16 : Sauvetage de Yuki</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_revelation_yuki')}} ">Chapitre 17 : Révélation de Yuki</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_desespoir_et_espoir')}} ">Chapitre 18 : Désespoir et espoir</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_evasion')}} ">Chapitre 19 : Evasion</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_decouverte_du_monde')}} ">Chapitre 20 : Découverte du monde</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_reveil')}} ">Chapitre 21 : Le réveil</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_sonju_et_mujika')}} ">Chapitre 22 : Sonju et Mujika</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_revelation_de_sonju')}} ">Chapitre 23 : Les révélations de Sonju</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_nouvelle_vie_quotidienne')}} ">Chapitre 24 : Nouvelle vie quotidienne</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_vers_le_portail')}} ">Chapitre 25 : Vers le portail</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_surprise')}} ">Chapitre 26 : Surprise</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_operation_evasion')}} ">Chapitre 27 : Opération évasion ultime</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_enfin_libre')}} ">Chapitre 28 : Enfin libre</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_entrevue_celeste')}} ">Chapitre 29 : Entrevue céleste</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_enfin_rentre')}} ">Chapitre 30 : Enfin rentré !</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_histoire_eternelle')}} ">Chapitre 31 : Histoire éternelle</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_histoire_fin')}} ">Chapitre 32 : Fin de l'histoire !</a>
									</li>
									<li>
										<a class="dropdown-item" href=" {{path('story_tresor_escapade')}} ">Chapitre 999 : Le trésor de l'escapade</a>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li>
										<a class="dropdown-item" href="#">Bonus</a>
									</li>
								</ul>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{{path('meteo')}}" id="" role="button" aria-expanded="false">
									Météo</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{{path('list_items')}}" id="" role="button" aria-expanded="false">
									Liste de course</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{{path('love_message')}}" id="" role="button" aria-expanded="false">
									Love</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{{path('note')}}" id="" role="button" aria-expanded="false">
									Prise de note
								</a>
							</li>
							<li class="nav-item dropdown ">
								{% if app.user %}
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										{{ app.user.name }}
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li class="flex">
											<a class="btn-connect" href=" {{ path('app_logout') }} ">Déconnexion</a>
										</li>
									</ul>
								{% else %}
									<a class="btn-connect me-2" href=" {{ path('app_login')}} ">Se connecter</a>
									<a class="btn-connect me-2" href=" {{ path('app_register')}} ">S'inscrire</a>
								{% endif %}
							</li>
						</ul>
			
			</div>
		</div>
	</div>
</nav>


